# Can ignore specific files
.DS_Store
.Python

# Use wildcards as well
*~
*.pyc
*.swp
log/

# Uploaded files
taasks/static/pictures/

# SQLite databases
*.sqlite3

# Local scripts
manage

# Various Python system folders
/bin/
/build/
/include/
/lib/
/Taasks.egg-info/

