<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>{% block title %}{% endblock %}Taasks</title>
  <link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}/css/tasks.css" media="all" />
  {% block css_links %}{% endblock %}
</head>
<body>

<div id="wrapper_column">
  <div>&nbsp;</div>

  <div id="header">
    <ul id="menubar">
      <li class="item"><a href="{% url home %}">Home</a></li>
      {% if user.is_authenticated %}
      <!--li class="item"><%= link_to "Profile", :controller => 'profile' %></li-->
      <li class="item"><a href="{% url tasks:list %}">Tasks</a></li>
      <!--li class="item"><a href="/people">People</a></li>
      <li class="item"><%= link_to "Settings", 
        :controller => 'profile', :action => 'settings' %></li-->
      <li class="item"><a href="{% url logout %}">Logout</a></li>
      {% else %}
      <li class="item"><a href="{% url login %}">Login</a></li>
      {% endif %}
    </ul>
  
    <div id="logo"></div>
  </div>
  
  <table id="columns" cellspacing="0" cellpadding="0">
    <tbody>
      <tr>
        <td id="content">
          {% block content %}{% endblock %}
        </td>
        <td id="side-pane">
          <!--% if @connections %>
            <%= render(:partial => 'connections', :person => 'test')  %>
          <% end %-->
          
          <div id="timer">
            <div class="title" style="margin-bottom: 5px">Hours today</div>
            <span class="time">0.00</span>
          </div>
          
          <ul>
            <!--li><%= link_to "Archive", 
              :controller => :tasks, 
              :action => :archive %></li-->
            <li><a href="{% url tasks:trash %}">Trash</a></li>
            <hr />
          </ul>
          
          <a href="/goodies/mac" id="ad">
            <span href="#" class="title">Taasks for Mac</span>
            <span class="text">Try out Taasks widget and desktop app for your Mac.</span>
            <span class="link">view &rarr;</span>
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>

<!--%= javascript_include_tag 'application.js',
  'lib/jquery-1.3.2.min',
  'lib/jquery-ui-1.7.2.custom.min',
  #'lib/ui.core',
  #'lib/ui.draggable',
  #'lib/ui.sortable',
  'lib/jquery.hoverIntent.minified',
  'lib/jquery.labs-json',
  'tasks' %-->
<script src="{{ MEDIA_URL }}/js/lib/jquery-1.3.2.min.js"></script>
<script src="{{ MEDIA_URL }}/js/lib/jquery-ui-1.7.2.custom.min.js"></script>
<script src="{{ MEDIA_URL }}/js/lib/jquery.json-2.2.min.js"></script>
<script src="{{ MEDIA_URL }}/js/base.js"></script>
{% block js_links %}{% endblock %}
</body>
</html>
