{% extends "base.html" %}

{% block title %}
  {% if text %}
    {{ text }} - Search results
  {% else %}
    Search
  {% endif %}
{% endblock %}

{% block css_links %}
{% endblock %}

{% block content %}

<h1>Find people on Taasks</h1>

<form action="" method="get" accept-charset="utf-8">
  <p>Find people</p>
  {% csrf_token %}
  {{ form.q }}
  <p><input type="submit" value="Search" class="button"></p>
</form>

{% if profiles %}
<hr />

<div id="profiles-container">
{% for profile in profiles %}
  {% include "account/_short_profile.html" %}
{% endfor %}
</div>

{% endif %}

{% endblock %}
