html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    padding: 0px;
    position: relative;
}

#header {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  z-index: 10;
}

#header-inner {
  position: relative;
  width: 830px;
/*  max-width: 820px;*/
/*  min-width: 700px;*/
  height: 30px;
  margin: 0 auto;
  background-color: rgba(40, 40, 40, 0.8);
/*  background-color: rgba(139, 69, 19, 0.8);*/
/*  background-color: rgba(94, 38, 18, 0.8);*/
  color: #fff;
}

#content {
  width: 800px;
  min-width: 700px;
  margin: 0 auto;
  padding-top: 20px;
  padding-bottom: 20px;
}

h1, h2, h3 {
  color: #444;
}

h1 {
  font-size: 20px;
}

h2 {
  font-size: 16px;
}

h3 {
  font-size: 14px;
}

#notification {
  width: 100%;
  position: fixed;
  top: 30px;
  left: 0px;
}

#notification-inner {
  display: none;
  padding: 5px 0px;
  text-align: center;
  width: 800px;
  margin: 0 auto;
  background-color: #fdefcc;
  font-size: 13px;
}

#notification-container {
  display: none;
}

a,
#content a,
#side-pane a {
    color: #347ec0;
    text-decoration: none;
}

a:hover,
#content a:hover,
#side-pane a:hover {
  text-decoration: underline;
  color: #347ec0;
  background-color: inherit;
}

p:first-child {
  margin-top: 0px;
}

#menubar {
  padding: 0px;
  margin: 0px;
}

#menubar ul {
  padding: 0px;
}

#menubar li {
  display: inline;
/*  margin-right: 10px;*/
}

#menubar a {
  color: #fff;
  font-size: 11px;
  font-weight: bold;
  padding: 3px 6px;
}

#menubar a:hover,
#menubar a.selected {
  color: #ccc;
/*  background-color: #000;*/
  background-color: #333;
/*  background-color: #5E2612;*/
  text-decoration: none;
}

#nav-home a.home-link,
#nav-my-profile a.profile-link,
#nav-tasks-index a.tasks-index-link,
#nav-tasks-trash a.tasks-trash-link,
#nav-tasks-archive a.tasks-archive-link,
#nav-search-people a.search-people-link,
#nav-account-picture a.account-picture-link,
#nav-account-settings a.account-settings-link,
#nav-project-manage a.project-manage-link {
  color: #ccc;
/*  background-color: #333;*/
  background-color: #333;
/*  background-color: #5E2612;*/
  text-decoration: none;
}

#menubar a.name {
  font-weight: normal;
  color: #fff;
}

#menubar a.icon {
  font-size: 14px;
  font-weight: normal;
  line-height: 0px;
}

#menubar li.project-name {
  font-size: 11px;
  font-weight: bold;
  color: #000;
  background-color: #FCE6C9;
  padding: 4px 6px;
  margin-right: 5px;
}

#menubar-group-left {
  margin-top: 8px;
  float: left;
}

#menubar-group-right {
  float: right;
  margin: 8px 10px 0px 0px;
}

#menubar .menu-splitter {
/*  border-right: 1px solid #777;*/
  border-right: 1px solid #5E2612;
  margin-left: 2px;
  margin-right: 5px;
}

#menu {
  
}

#menu li.item {
  
}

#menu li.subitem {
  
}

#side-menu {
  border-top: 1px solid #ccc;
}

#side-menu li {
  border-bottom: 1px solid #ccc;
  padding: 5px 0px;
}

#logo {
  margin: 6px 10px 0px 10px;
  float: left;
  height: 25px;
  width: 38px;
  background-image: url('{{ MEDIA_URL }}/img/taasks-fish.png');
  background-repeat: no-repeat;
  font-size: 22px;
  cursor: pointer;
}

#public-profile td {
  vertical-align: top;
}

#profile-picture {
  margin: 6px 20px 20px 0px;
}

#profile-info {
  font-size: 14px;
}

#profile-info th {
  padding: 4px 0px;
  text-align: left;
  padding-right: 20px;
  color: #444;
}

#profile-info td {
  padding: 4px 0px;
}

#profile-experience {
  line-height: 22px;
}

#templates {
  display: none;
}

.task-list {
  clear: left;
}

.task-list-controls {
  clear: left;
}

.task-container {
  clear: left;
}

.task {
  margin: 8px 0px 8px -15px;
  line-height: 22px;
  position: relative;
  cursor: default;
}

.task:hover .indicator {
    color: #888;
}

.task.selected {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 10px 0px;
  line-height: 20px;
  margin: 10px 0px 10px -15px;
}

.task-indent-0 {
  margin-left: -15px !important;
}

.task-indent-1 {
  margin-left: 15px !important;
}

.task-indent-2 {
  margin-left: 45px !important;
}

.task-indent-3 {
  margin-left: 80px !important;
}

.task-indent-4 {
  margin-left: 105px !important;
}

.task .indicator {
  position: absolute;
  top: 0px;
  left: 10px;
  font-size: 54px;
  color: #ccc;
}

.task .indicator:hover {
    color: #347ec0 !important;
    cursor: pointer;
}

.task.selected .indicator {
  top: 8px;
  left: 9px;
  color: #347ec0 !important;
}

.task.selected .text {
}

.task .controls {
  margin: 10px 35px 0px 35px;
  padding-top: 10px;
  border-top: 1px dotted #ccc;
}

.task .text {
  font-size: 14px;
  margin-left: 40px;
  margin-right: 10px;
  overflow: hidden;
}

.task-removed .text {
  margin-left: 80px;
}

.task .edit-view {
  display: none;
}

.task-input-large {
  width: 440px;
  padding: 4px;
  font-size: 12px;
  margin-left: 35px;
}

.task-input {
  display: none;
  width: 440px;
  padding: 4px;
  margin-left: 35px;
  margin-top: -2px;
  font-size: 14px;
}

.task-update-button {
  float: right;
  margin-right: 10px;
}

/* ============================= */
/* = Buttons and control links = */
/* ============================= */

.control-button {
  font-size: 12px;
  margin-right: 5px;
  color: #222;
  cursor: pointer;
  padding: 2px 10px;
  background-color: #fff;
  border: 1px solid #ccc;
}

.control-button:hover {
  background-color: #333;
  color: #fff;
}

a.action {
  background-color: #fff;
  border: 1px solid #ccc;
  padding: 2px 8px;
  text-decoration: none;
  font-size: 11px;
}

a.action:hover {
  text-decoration: none;
}


.task-active {
/*  background-color: #f3efd5;*/
}

.task-active .indicator {
    color: #f76c12 !important;
}

.task-active .start-button,
.task-done .start-button {
    display: none;
}

.task .stop-button,
.task-done .stop-button,
.task-done .done-button,
.task .undone-button {
    display: none;
}

.task.task-active .stop-button,
.task.task-done .undone-button {
    display: inline;
}

.task-done .text {
  text-decoration: line-through;
  color: #ccc;
}

.task-done .indicator {
  color: #569026 !important;
}

.task span.tag {
  color: #000;
  background-color: #FFEC8B;
  padding: 2px 5px;
  font-size: 13px;
  cursor: pointer;
}

.task span.estimate {
  font-size: 13px;
  background-color: #333;
  color: #fff;
  padding: 2px 5px;
}

.task span.responsible-user {
/*  color: #4F94CD;*/
  color: #fff;
  background-color: #33A1C9;
  padding: 2px 5px;
  font-size: 13px;
  cursor: pointer;
}

.task span.invalid-data {
  color: red;
  cursor: default;
}

.task span.due-date {
  color: #000;
  background-color: #C1FFC1;
  font-size: 13px;
  padding: 2px 5px;
  cursor: pointer;
}

#tasks_filter {
  margin: 20px 0px 0px 0px;
  font-size: 12px;
  background-color: #FFFACD;
  padding: 5px 15px;
}

#tasks_filter a.action {
  margin-left: 20px;
}

#tasks_filter .tag,
#tasks_filter .due-date,
#tasks_filter .responsible-user,
{
  cursor: default;
}

.task .timer {
  font-size: 11px;
  margin-bottom: 10px;
}

#tasks {
  margin-top: 30px;
  margin-bottom: 30px;
}

.empty-list {
  font-size: 16px;
  color: #888;
  margin: 0px 0px 20px 0px;
}

div.task button.restore-button {
  position: absolute;
  top: 3px;
  left: 16px;
  font-size: 10px;
}

#columns {
  width: 100%;
}

.empty-collection {
  font-style: italic;
  color: #444;
  font-size: 14px;
}

#side-pane {
  vertical-align: top;
  width: 220px;
  padding: 0px 0px 0px 40px;
  color: #555;
}

#side-pane ul {
  margin: 5px 0px;
  padding: 0px;
}

#side-pane li {
  list-style-type: none;
}

#timer {
  color: #888;
  background-color: #333;
  padding: 5px 6px 3px 8px;
  line-height: 0px;
  cursor: pointer;
  margin: 0px 5px;
}

#timer:hover {
  background-color: #000;
}

.timer-running .time {
  color: #f76c12;
}

#timer .time {
  font-size: 14px;
}

#timer .buttons {
}

#timer .title {
  font-size: 14px;
  margin-right: 5px;
}

#timer .status {
  display: none;
  font-size: 18px;
}

.timer-running .status {
  display: inline !important;
}

hr {
  border: none;
  border-top: 1px solid #ddd;
}

#ad {
  display: block;
  font-size: 11px;
  margin: 20px 0px;
  background-color: #f3f3f3;
  padding: 10px 14px 5px 14px;
  text-decoration: none;
  color: #444 !important;
  border: 1px solid #eee;
}

#ad:hover {
  text-decoration: none !important;
  background-color: #fafafa !important;
  color: inherit !important;
  border: 1px solid #ccc;
}

#ad:hover .link {
  color: #000;
}

#ad .title {
  display: block;
  font-weight: bold;
}

#ad .text {
  display: block;
}

#ad .link {
  display: block;
  text-align: right;
  color: #aaa;
  font-size: 10px;
}

.drop-highlight {
  border: 1px dotted #ccc;
  background-color: #f5f5f5;
  height: 1.5em;
  line-height: 1.2em;
}

div.connections {
  clear: left;
}

div.connections .title {
}

div.clear {
  clear: both;
}

form {
  background-color: #eee;
  padding: 10px;
}

form table {
  
}

form table th {
  vertical-align: top;
  text-align: right;
  padding-right: 10px;
  padding-top: 4px;
}

a.connection {
  float: left;
  margin: 0px 4px 4px 0px;
  background-color: #eee;
  width: 40px;
  height: 40px;
  cursor: pointer;
}

.profile {
  position: relative;
  min-height: 100px;
}

.profile .profile {
  min-height: 110px; 
  position: relative;
}

.profile .picture {
  position: absolute;
  top: 0px;
}

.profile .info {
  margin-left: 120px; 
  padding-top: 2px;
}

.profile .controls {
  margin-top: 20px;
  float: right;
}

.button {
  padding: 4px 10px;
  background-color: #1874CD;
  color: #fff;
  border: none;
  cursor: pointer;
  font-size: 12px;
}

.button:hover {
  background-color: #555;
}

.button-pos {
  background-color: #6E8B3D;
}

.button-neg {
  background-color: #CD4F39;
}

.button-dimm {
  background-color: #ddd;
  color: #555;
}

.button-dimm:hover {
  background-color: #1874CD;
  color: #fff;
}

#add-task-button {
  margin-left: 0px;
}

.waiting-user-status {
  color: #555;
  margin: 0px 10px;
  font-size: 14px;
}

.connected-user-status {
  color: green;
  margin: 0px 10px;
  font-size: 14px;
  font-weight: bold;
}

.profile .cancel-connection,
.profile .confirm-connection,
.profile .waiting-user-status,
.profile .connected-user-status
{
  display: none;
}

.waiting-user-profile .waiting-user-status,
.waiting-user-profile button.cancel-connection {
  display: inline;
}

.waiting-user-profile .connected-user-status,
.waiting-user-profile button.connect {
  display: none;
}

.connected-user-profile .waiting-user-status,
.connected-user-profile button.connect {
  display: none;
}

.connected-user-profile .connected-user-status,
.connected-user-profile button.cancel-connection {
  display: inline;
}

.connection-confirm-profile button.connect,
/*.connection-confirm-profile button.cancel-connection,*/
.connection-confirm-profile .cancel-connection {
  display: none;
}

.connection-confirm-profile button.confirm-connection,
.connection-confirm-profile .cancel-connection {
  display: inline;
}

.profile .its-me {
  font-size: 14px;
  font-weight: bold;
}

.tool {
  float: left;
  margin-top: 7px;
}

.tool .title {
  font-weight: bold;
  margin-right: 5px;
  color: #555;
}

.tool .room {
  font-size: 11px;
  border: 1px solid #aaa;
  padding: 2px 4px;
  background-color: #fff;
  cursor: pointer;
}

.tool .leave-room {
  color: #aaa;
}

.tool .leave-room:hover {
  color: red;
}