html {
    width: 100%;
    height: 100%;
}

body {
    font-family: Arial, sans-serif;
    font-size: 12px;
    /*position: relative;*/
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
}

div#wrapper_column {
    margin: 0 auto;
    z-index: 10;
    width: 860px;
}

#status-message {
    display: none;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 20;
    padding: 5px;
    text-align: center;
    width: 100%;
    background-color: #fdefcc;
    font-size: 16px;
}

#header {
    margin-top: 50px;
    margin-bottom: 30px;
    height: 30px;
    position: relative;
}

a,
#content a,
#side-pane a {
    color: #347ec0;
    text-decoration: none;
}

a:hover,
#content a:hover,
#side-pane a:hover {
  text-decoration: underline;
  color: #347ec0;
  background-color: inherit;
}

p:first-child {
  margin-top: 0px;
}

#menubar {
  position: absolute;
  top: 0px;
  right: 0px;
  padding: 0px;
  margin: 0px;
}

#menubar li {
  display: inline;
  margin-left: 5px;
}

#menubar a {
  color: #999;
  font-size: 12px;
}

#menubar a:hover {
  color: #000;
}

#logo {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 25px;
  width: 150px;
  background-image: url('{{ MEDIA_URL }}/img/taasks-logo.png');
  background-repeat: no-repeat;
}

#templates {
  display: none;
}

#main-task-input-container {
  margin-right: 15px;
}

#main-task-input-container .title {
  color: #888;
  font-size: 13px;
  padding: 0px 0px 5px 0px;
}

#main-task-input-container a {
  color: #98bce2;
}

#main-task-input {
    width: 450px;
    font-size: 16px;
    padding: 6px;
    font-weight: bold;
    border: 2px solid #aaa;
    background-color: #f5f5f5;
}

#add-task-button {
  padding: 4px 14px;
}

.task {
  margin: 5px 0px 5px -15px;
  line-height: 22px;
  position: relative;
  cursor: default;
}

.task:hover .indicator {
    color: #888;
}

.task.selected {
  background-color: #eee;
  border: 1px solid #ddd;
  padding: 10px 0px;
  line-height: 20px;
  margin: 10px 0px 10px -15px;
}

.task .indicator {
  position: absolute;
  top: -2px;
  left: 10px;
  font-size: 36px;
  color: #ccc;
}

.task .indicator:hover {
    color: #347ec0 !important;
    cursor: pointer;
}

.task.selected .indicator {
  top: 8px;
  left: 9px;
  color: #347ec0 !important;
}

.task.selected .text {
}

.task .controls {
  margin: 10px 35px 0px 35px;
  padding-top: 10px;
  border-top: 1px dotted #ccc;
}

.task .text {
  font-size: 14px;
  margin-left: 35px;
  margin-right: 10px;
  overflow: hidden;
}

.task-removed .text {
  margin-left: 80px;
}

.task .edit-view {
  display: none;
}

.task-input-large {
  width: 440px;
  padding: 4px;
  font-size: 12px;
  margin-left: 35px;
}

.task-input {
  display: none;
  width: 440px;
  padding: 4px;
  margin-left: 35px;
  margin-top: -2px;
  font-size: 14px;
}

.task-update-button {
  float: right;
  margin-right: 10px;
}

.control-button {
  font-size: 12px;
  margin-right: 5px;
  color: #222;
  cursor: pointer;
}

.control-button:hover {
  background-color: #333;
  color: #fff;
}

.task-active {
/*  background-color: #f3efd5;*/
}

.task-active .indicator {
    color: #f76c12 !important;
}

.task-active .start-button,
.task-done .start-button {
    display: none;
}

.task .stop-button,
.task-done .stop-button,
.task-done .done-button,
.task .undone-button {
    display: none;
}

.task.task-active .stop-button,
.task.task-done .undone-button {
    display: inline;
}

.task-done .text {
  text-decoration: line-through;
  color: #ccc;
}

.task-done .indicator {
  color: #569026 !important;
}

.task span.tag {
  color: brown;
/*  font-size: 11px;*/
  cursor: pointer;
}

.task span.task-person {
  color: #555;
  font-size: 11px;
  cursor: pointer;
}

.task span.due-date {
  color: green;
/*  font-size: 11px;*/
  cursor: pointer;
}

#tasks {
  margin-top: 30px;
  margin-bottom: 30px;
}

#empty-task-list {
  font-size: 16px;
  color: #888;
  margin-left: 15px;
}

div.task button.restore-button {
  position: absolute;
  top: 3px;
  left: 16px;
  font-size: 10px;
}

#columns {
  width: 100%;
}

#content {
  vertical-align: top;
  font-size: 12px;
}

#side-pane {
  vertical-align: top;
  width: 220px;
  padding: 0px 0px 0px 40px;
  color: #555;
}

#side-pane ul {
  margin: 5px 0px;
  padding: 0px;
}

#side-pane li {
  list-style-type: none;
}

#timer {
  color: #aaa;
  margin-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #ddd;
}

.timer-running .time {
/*  color: #f76c12;*/
  color: #000;
}

#timer .time {
  font-size: 30px;
}

#timer .buttons {
}

hr {
  border: none;
  border-top: 1px solid #ddd;
}

#ad {
  display: block;
  font-size: 11px;
  margin: 20px 0px;
  background-color: #f3f3f3;
  padding: 10px 14px 5px 14px;
  text-decoration: none;
  color: #444 !important;
  border: 1px solid #eee;
}

#ad:hover {
  text-decoration: none !important;
  background-color: #fafafa !important;
  color: inherit !important;
  border: 1px solid #ccc;
}

#ad:hover .link {
  color: #000;
}

#ad .title {
  display: block;
  font-weight: bold;
}

#ad .text {
  display: block;
}

#ad .link {
  display: block;
  text-align: right;
  color: #aaa;
  font-size: 10px;
}

.drop-highlight {
  border: 1px dotted #ccc;
  background-color: #f5f5f5;
  height: 1.5em;
  line-height: 1.2em;
}

div.connections {
  clear: left;
}

div.connections .title {
/*  font-weight: bold;*/
}

div.clear {
  clear: both;
}

a.connection {
  float: left;
  margin: 0px 4px 4px 0px;
  background-color: #eee;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
