{% extends "base.html" %}

{% block title %}Current work{% endblock %}
{% block view_id %}nav-tasks-index{% endblock %}

{% block css_links %}
{% endblock %}

{% block js_links %}
<script src="{{ MEDIA_URL }}/js/tasks.js"></script>
{% endblock %}

{% block context-menu %}
  {% include "tasks/context_menu.html" %}
{% endblock %}

{% block content %}

{% if tasks_filter %}
  <div id="tasks_filter" class="task">
    Filter applied: <span class="{{ tasks_filter.class }}">
      {{ tasks_filter.value }}</span>
    <a class="action" href="{% url tasks:tasks 0 %}">remove filter</a>
  </div>
{% endif %}

<div class="task-list">
  <div id="tasks" class="task-list">
    {% for task in tasks %}
      {% include "tasks/task.html" %}
    {% endfor %}
  </div>

  <div class="empty-list" {% if tasks %}style="display:none"{% endif %}>
    You have no items.
  </div>

  <div class="task-list-controls">
    <button id="add-task-button" class="button button-dimm" 
      accesskey="a">Add item</button>
  </div>
  
  <p>
  <a id="archive-completed-action" href="#"
    style="display: none">Archive completed</a>
  </p>
  
</div>

<div id="templates">
  <div id="task-template">{% include "tasks/task.html" %}</div>
</div>
{% endblock %}
