<div class="task">
  <input class="source" type="hidden" value="" />
  
  <div class="indicator">•</div>
  
  <div class="view">
    <div class="text"></div>
    <input type="text" value="" class="task-input" />
  </div>
  
  <div class="edit-view">
    <div class="controls">
      <span class="control-button start-button">start</span>
      <span class="control-button stop-button">stop</span>
      <span class="control-button done-button">done</span>
      <span class="control-button undone-button">undone</span>
      <span class="control-button remove-button">remove</span>
    </div>
  </div>
</div>
